@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* aqua */
  --color-aqua: #0a6b6f;
  --color-aqua-light: #307f81;
  --color-aqua-lighten: #359194;
  --color-aqua-dark: #064e3b;
  --color-aqua-darken: #055d60;

  --color-indigo: #6366f1;
  --color-emerald: #10b981;

  --color-success: rgb(46, 125, 50);
  --color-warning: rgb(249, 168, 37);
  --color-danger: rgb(191, 54, 12);
  --text-secondary: #e0e0e0;
  --text-secondary-darken: rgba(57, 57, 57, 0.52);
  --text-emerald: rgb(5, 150, 105);
  --color-aqua-text: #88b3af;
}
